<nav class="navbar">
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
    <button id="theme-toggle">☽</button>

</nav>


<header>
  <h1>Welcome to My Portfolio</h1>
 <p style="font-style: italic; color: var(--header-text); margin-top: 0.5rem;">
  Building cool things, one line of code at a time.
</p>
<img
  src="assets/profile.jpg"
  alt="Andrew Godeke"
  class="profile-photo"
/>

</header>


<section id="about">
  <h2>About Me</h2>
  <p>Native Canadian and junior web developer with a full-stack development background from Le Wagon. Skilled in HTML,
     CSS, Ruby, SQL, and JavaScript, with experience in both front-end and back-end development.
  </p>
</section>

<section id="projects">
  <h2>Projects</h2>
  <ul>
    <li>
  <a href="https://github.com/DrewGodeke/rails-shopwise" target="_blank" rel="noopener">
    Rails Shopwise
  </a> – A feature-rich e-commerce web app built with Ruby on Rails, including product browsing, shopping cart, and admin panel.
</li>

    <li>
  <a href="https://github.com/DrewGodeke/rails-airbnboo" target="_blank" rel="noopener">
    Rails Airbnboo
  </a> – An Airbnb-style platform built with Ruby on Rails, guiding thrill seekers to discover and book spooky, haunted-themed stays.
</li>
  </ul>
</section>

<section id="contact">
  <h2>Contact</h2>
  <p>Email: <a href="mailto:legodeke@hotmail.com">legodeke@hotmail.com</a></p>
  <p>GitHub: <a href="https://github.com/DrewGodeke" target="_blank" rel="noopener">github.com/DrewGodeke</a></p>
  <p>LinkedIn: <a href="https://www.linkedin.com/in/andrew-g-7260879b/" target="_blank" rel="noopener">linkedin.com/in/andrew-g-7260879b/</a></p>
</section>

<script>
  const toggleBtn = document.getElementById('theme-toggle');
  toggleBtn.addEventListener('click', () => {
    document.body.classList.toggle('dark-mode');
  });
</script>
</body>
</html>
